<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <title>Music recommandation</title>
</head>
<body>
   <h1>Result(s) : {% for select in selection %} {{select}}, {% endfor%}</h1>
   <div id ='block_reponses'>
      <ul>
         {% for reco in recommandations %}
            <li>{{reco}}</li>
         {% endfor %}
      </ul>
   </div>
   <br>
   <br>
   <form id='return_button' action="/">
      <input type=submit value="Return to home page">
   </form>
</body>
<footer>
</footer>
</html>